[2014-12-22 16:54] ednapiranha opened #4 "autocomplete usernames on chat"

[2014-12-25 01:14] TriCitiesGDI opened #15 "Adventure! back to the future!"
Just like the old Adventure at the end of the 9 track tapes of X (AKA X-Windows) from the Media Lab - what a great idea!

Twisty turn-y passages all different.

[2014-12-26 22:08] dhgwilliam opened #22 ""Newer" link to match "Older" link on Discover pages"
idk, maybe the back buttons works just as well...?

[2014-12-26 23:31] mikeal opened #24 "SEO Plugin"
Need tags for my posts for SEO so that I can be FAMOUS!

[2014-12-27 17:26] phildini opened #35 "Post page should show replies to post"
Not sure if others agree with me, but it would be neat to see each /post page also list all the replies to that post. Thoughts?

[2014-12-27 19:50] llkats opened #39 "username notifications"
Experiment with notifying chatroom users when their names are mentioned in chat.

Potentially would only apply to users currently in the chat area, but nowhere else on the site.

Maybe also highlight usernames when they are mentioned in the text of the chat.

[2014-12-29 19:56] kelseyq opened #53 "us numbers with/without country code should resolve to same account"
14155551212 and 4155551212 create two separate accounts now

[2014-12-29 20:32] adambrault opened #55 "Mutes and muffles"
While reading and thinking about #35, I realized as the community grows, it might be nice to be able to mute some posts and some people. Such mutes would only apply to your view of the discover area.

There are two cases I think would be useful and appropriate:
- hide a specific user's posts and chats.
- hide all replies to a specific post.

For muted users, I think the user should probably be 'di

[2014-12-30 01:11] isaacs opened #56 "Redirect from /user!<user uuid>!<post id> to /post!<post id> (or vice versa?)"
Seems like there are duplicate URLs that show the same data.

For example:

* http://bigboringsystem.com/post/user!68a5fc68-fac1-4217-a1fa-542fa209b202!1419711904
* http://bigboringsystem.com/post/post!1419711904

Can we pick one and have it be canonical?  Maybe just `http://bigboringsystem.com/post/1419711904` would be nice?  Then the DB key implementation detail can be a bit hidden from the user

[2014-12-30 05:21] remixz opened #58 "Post editing"
i think post editing can be beneficial as long as it isn't a secret that a post was edited. for me, i like to know when something has changed in a piece of writing, so if i had already read it, i know to give it a look again, and that if something has changed, i'm not crazy for thinking it was a different way before. :wink:

my thinking is that post editing would be allowed, but a reason must be g

[2014-12-30 12:13] TheAlphaNerd opened #62 "ctx in services potentially sharing state"
I have a fork I am playing with linting in and noticed that you declare ctx in line 13 of *services.js* in order to have a globally available analytics value that is passed between all routes.

It looks to me like there might be the unfortunate side effect that sharing this object state between different service calls.  The data in between services is leaking through the ctx object. For example wh

[2014-12-30 12:41] TheAlphaNerd opened #64 "CI"
Would people be interested in a CI system that could run tests + lint?

[2014-12-30 20:16] isaacs opened #67 "Organize DBs"
Right now, there's a separate DB for each service, defined in the service js file.

It'd be nice, especially for testing, to have a single top-level config to specify the DB folder, and then have all of the services just use that as the root for their individual DB files.

(Aside: suggest adding a "refactor" or "code structure" tag for architectury type things that don't directly impact user-facin

[2014-12-31 09:57] spinda opened #78 "Login attempts banning doesn't make sense?"
Why does this ban the phone the user is trying to log in with? Shouldn't it ban their IP or something instead? The way it is now, if I know someone's phone number, I can ban them from BBS by making three quick login attempts.

[2015-01-01 15:09] joates opened #83 "can you provide details of the relationship with Twilio ?"
so the main question is..
by using this service am i exposing my device as a potential SMS marketing target to Twilio or any other company that they have partnered with ?

i'm just asking the question, it's not a "concern" of mine and i wouldn't be *too* bothered if that was a funding strategy, they provide a globally accessible infrastructure, they should get something for that i guess.

i looked

[2015-01-01 15:12] joates commented on #83
hmm, i just found this -> [sms pricing](https://www.twilio.com/sms/pricing)

[2015-01-01 18:01] rtorr commented on #64
+1

[2015-01-01 18:20] TheAlphaNerd commented on #64
Basic Travis yaml has landed. Just need to get Travis configured with
proper env vars
On Jan 1, 2015 10:01 AM, "Richard Torruellas" <notifications@github.com>
wrote:

[2015-01-01 18:24] isaacs commented on #64
I flipped the switch on Travis-CI.  Not sure what else needs to happen, but I can take a look soon.  Probably the test env var stuff should just be part of #46, since we probably also want to make it so that new folks can try stuff out without needing a twilio account.

[2015-01-01 18:24] #64 closed

[2015-01-01 18:27] TheAlphaNerd commented on #64
Making the env vars part of the test suite would be great, although I would
worry about making api keys public, seems open for abuse.

You can set env vars in the Travis config for the repo. I was able to get
it to work for my personal repo. Although I had to make sure that the
values that were strings were all wrapped in strings
 On Jan 1, 2015 10:24 AM, "Isaac Z. Schlueter" <notifications@github

[2015-01-01 18:28] TheAlphaNerd commented on #64
Wrapped in quotes that is
On Jan 1, 2015 10:27 AM, "Myles Borins" <myles.borins@gmail.com> wrote:

[2015-01-01 19:29] ednapiranha commented on #83
yeah i am :P

[2015-01-01 19:47] urlysses commented on #83
i think a longer-lasting form of persistent login could help here with regards to $0.04/login. yesterday, i had to log in 3 or 4 different times from the same IP/browser though i never cleared my cookies.

[2015-01-02 03:31] isaacs opened #84 "Monetization"
Continued from https://github.com/bigboringsystem/bigboringsystem/issues/83.

I highly suggest monetizing BBS, and I think it can be done in a not-evil way.  *Not* having a business model at all is what leads to situations like "Either I shut this down and you all lose your data or else I'm gonna need to be selling out to the NSA and One Weird Trick folks".

Maybe we can brainstorm some business m

[2015-01-02 05:30] joates commented on #83
@urlysses
just FYI.. i didn't really want to approach this as "login" issue, so IMO that discussion doesn't belong here (although that could be discussed in another issue : ). i actually like the use of SMS for authentication because we all, generally, have some personal investment in it.

i did however, as yourself, need to login several times (i think 3 actually) yesterday but that was mainly be

[2015-01-02 05:34] joates commented on #83
closing as the issue is resolved by this [response](https://github.com/bigboringsystem/bigboringsystem/issues/83#issuecomment-68495560)

[2015-01-02 05:34] #83 closed

[2015-01-02 06:04] urlysses opened #85 "More persistent login"
Picking up from #83,

Login via SMS is good but it could become expensive.

To minimize costs, it makes sense to minimize logins, notably for users already verified + logged in.

BBS currently uses sessions to track logged in users, but sessions expire easily. Persistent login cookies could be implemented to help keep the login alive across multiple sessions within the same browser.

These cookies

[2015-01-02 08:26] TheAlphaNerd commented on #62
/cc @isaacs @ednapiranha

[2015-01-02 08:27] TheAlphaNerd commented on #78
This does seem particularly nasty

[2015-01-02 08:44] TheAlphaNerd commented on #84
When I first heard Monetization I immediately assumed that it would lead in the direction of sustaining the operators and developers.  In retrospect it appears that the real goal is for sustaining the service / community.

Perhaps organizations like twilio and digital ocean would be interested in donating the cost of operating these channels... although that might be a tough model to scale if we w

[2015-01-02 23:52] isaacs commented on #78
Agreed!  It's also a security exploit, since you can post a zillion login attempts with different phone numbers, and cost the admin a bundle.

Fixed on https://github.com/bigboringsystem/bigboringsystem/commit/2a7fb7a0c5768aca077f014dfe3abb65e13a47b3, and @ednapiranha confirmed that it was pushed to bigboringsystem.com today.

[2015-01-02 23:52] #78 closed

[2015-01-03 00:17] isaacs commented on #58
@remixz I'm loathe to shut you down, but yeah, I think maybe it's a bit overkill, and will encourage some unpleasant habits.

At the moment, `x delete` sounds ominous, and it comes at a cost.  It doesn't seem like a thing that should be done capriciously.  It *feels* like it's going to break links.  I think that's a Good Thing.

If we make it too easy to "delete and repost" so that people can edit

[2015-01-03 00:17] #58 closed

[2015-01-03 00:19] isaacs commented on #15
?

[2015-01-03 00:19] #15 closed

[2015-01-03 00:20] isaacs commented on #22
Closing in favor of minimalism.  If it comes up again, let's revisit.

[2015-01-03 00:20] #22 closed

[2015-01-03 00:21] isaacs commented on #24
Closing because tags are not going to be added.

[2015-01-03 00:21] #24 closed

[2015-01-03 00:31] isaacs commented on #55
I think we really need a "permanently block this user from my view, including their posts, replies to their posts, replies they post to posts of mine" and *maybe* also "keep them from seeing anything I post as well" but that's less important.

This really needs to be done server-side.

My experience with humans so far has been that once you give them the opportunity to be jerks, most will not, but

[2015-01-03 00:34] isaacs commented on #55
Re impl, if we do it based on a user uid, then that blocks the abuser unless they get a new phone number, which is possible, but probably costly enough to not be an issue.  If they don't realize they're being blocked, then they're unlikely to even realize that they'd need to create another account.

On the other hand, the issue would be that they can delete their account and create a new one, I gu

[2015-01-03 00:46] isaacs opened #90 "Override Twilio creds when testing"
If `process.env.NODE_ENV === 'test'` or `process.env.npm_lifecycle_event === 'test' or 'dev'` then don't even try to load the Twilio client, and instead use a mock or some crap.

Add `scripts.dev` to package.json, which is the same as `scripts.start` except that the `npm_lifecycle_event` env will be set to `'dev'` so we can key on it, and know it's not production.

If Twilio creds aren't there, an

[2015-01-03 00:47] isaacs opened #91 "Add link to this repository in the sidebar"
Maybe it should be configurable?  I think part of the fun is that it's easy to contribute.  But maybe it'll be a mystery to newcomers who aren't programmers?

[2015-01-03 01:19] isaacs opened #92 "data freedom!"
Maybe let's have a thing where I can get a fancy JSON feed or something of posts.  Should be easy, right, just dump the data as-is instead of piping through the template?

Another way to do that would be to say "Gimme all the posts since `$time`" or something, or some other sensible API rest endpoint.

Also, this would allow external thingies to feed bbs posts into tumblr/twitter/g+/ello/zomgsocia

[2015-01-03 05:12] TheAlphaNerd commented on #90
I'd be interested in helping out with this one... I'll dig into it when I get back to the city.  Is scripts.dev loaded with functionality?  I've been doing ```npm run start-dev``` for a while, having ```npm dev``` would be fantastic!

[2015-01-03 05:30] isaacs commented on #90
Nope, `dev` is semantics-free.  You do have to do `npm run dev`, though, not just `npm dev`.

[2015-01-03 05:52] TheAlphaNerd commented on #90
do you think that it would make sense to make ```dev``` a default like ```start```.  I see quite a bit of value in having two default run environments that have short hands.

SorryNotSorry for feature creeping.

I'll make an issue over on npm if you are interested in exploring this

[2015-01-03 05:58] urlysses opened #93 "Sticky chat?"
Not sure whether this fits with the budding BBS philosophy/design, but it could be nice to keep a chat window stuck to some part of the website on larger displays (desktop and maybe landscape tablets), regardless of the page currently being viewed. This could maybe be implemented with an iframe.

[2015-01-03 06:01] isaacs commented on #90
You can open an issue. But it isn't on the roadmap, and won't happen in
2015, or probably any of the other years. :)

On Friday, January 2, 2015, Myles Borins <notifications@github.com> wrote:

[2015-01-03 06:03] TheAlphaNerd commented on #90
I guess I'll live with the five extra characters. Aka one extra tab
On Jan 2, 2015 10:01 PM, "isaacs" <notifications@github.com> wrote:

[2015-01-03 07:25] joates commented on #90
this is something i was planning to work on today but i have a terrible headache, so may not make much/any significant progress.

i think a logic switch in the local config would be my preferred implementation (i've implemented this type of solution before using [rc](https://github.com/dominictarr/rc)), it's not much additional work, doesn't impact on the existing functionality and it's not much e

[2015-01-03 07:48] joates opened #94 "profanity filter discussion.. (are curse words considered "offensive" ? which ones ?)"
is there a case for a profanity filter, something modular (probably already exists) ?

i *have* to ask because i am guilty of dropping 1 in only my 2nd post, it's something i don't do intentionally but i realise that it could be offensive.

without the ability to edit the post (which is fine, i actually like the *closure* that comes with that.. you hit the big red button to launch knowing that you

[2015-01-03 08:11] joates commented on #94
i should probably just stop cursing, that would be the easiest fix !!

please feel free to discuss the "profanity filter" suggestion

[2015-01-03 08:14] joates commented on #94
quick search for [modules](https://www.npmjs.com/search?q=profanity)

[2015-01-03 15:12] jasonrhodes commented on #90
I've got some of this done, I hate having to check if "in test mode" inside of the actual code but it seems to be the easiest and most reliable way to do some of this for right now, anyway. I should have PR for people to comment on later this afternoon.

[2015-01-03 15:13] jasonrhodes commented on #90
Oops, I had this open last night and only just noticed @TheAlphaNerd's comments -- Myles are you working on this already? I've got some of it done on my branch too but if you're moving on it, go for it.

[2015-01-03 17:02] TheAlphaNerd commented on #90
Nope, go for it!
On Jan 3, 2015 7:13 AM, "Jason Rhodes" <notifications@github.com> wrote:

[2015-01-03 19:10] isaacs commented on #94
I think the best solution is to be able to mute/block specific users.  Then we can pretty much just let social mores work themselves out without anyone being abused.

In the short term, I think dropping a few f-bombs seems to be fine, as long as it's done in exuberance rather than hatred.

[2015-01-03 19:13] isaacs commented on #90
If I were to do this, I'd create a single `lib/twilio.js` or something, that checks the config/env and either creates a client, or creates a mock client.  Then the rest of the codebase can just behave normally as if it's production, instead of littering switches all over the place.

[2015-01-03 19:17] mikeal commented on #24
too serious, this project just jumped the shark :)

[2015-01-03 19:18] joates commented on #90
so far all i have is a small patch that uses [nock](https://github.com/pgte/nock)
code is [here](https://github.com/joates/bigboringsystem/commit/a0d6fd7c0f9d316b27ae67daa6554d6ae4c2156a)
it's not ready to PR because there are other issues to consider..

such as:
* when you initially deploy the system there are no existing users, so you have to use something like [postman](https://chrome.google.co

[2015-01-03 19:26] isaacs commented on #90
I think Nock is a bit overkill.  We literally use the twilio client for a single thing, so it's probably easier to just stub out that function, and call the callback as if it succeeded.

[2015-01-03 19:32] joates commented on #90
@isaacs agreed.. i won't do any more work on this

but it does get me over the obstacle of not being able to login and not being able to make posts on my forked local system, so at least i have something to work with now :)

[2015-01-03 19:40] isaacs commented on #90
@joates At the least, you can do `NODE_ENV=test npm start` and then just get the pin dumped out to the terminal, but you have to use the phone number `15555555` as well.

Mostly this is just a code organization/cleanup task.

[2015-01-03 21:52] joates commented on #90
thanks @isaacs thats good to know, so [var client](https://github.com/bigboringsystem/bigboringsystem/blob/master/lib/utils.js#L16) is really doing nothing, i've been asking myself "why is that there?" for most of the day (i have _a lot_ to learn :)

[2015-01-04 19:34] isaacs commented on #90
Fixed by #95, thanks @jasonrhodes! :smile_cat:

[2015-01-04 19:34] #90 closed

[2015-01-04 19:49] #67 closed

[2015-01-04 20:01] ednapiranha opened #97 "Needs a Privacy Policy"
Open to collaborating on this with @isaacs ?

Mainly - we will not sell your phone number or use it in nefarious ways, etc etc.

[2015-01-04 20:09] thefoxis commented on #91
I definitely agree it's easy to contribute. I'd possibly add a label for `front-end` since a lot of designers/front-end devs don't really get the difference between server and client side. With that it's easy to jump in. I'd be happy to write up `contribute.md` and guidelines for writing good front-end as well (I did a lot of that at &yet and it has proven to be very empowering).

Another thing to

[2015-01-04 20:09] urlysses commented on #97
If necessary, appdotnet provides a privacy policy template (and a ToS one as well).

https://github.com/appdotnet/template-terms-of-service/blob/master/privacy_template.md

Seems trivial to update the Use of Information section with relevant points.

[2015-01-04 20:10] jasonrhodes commented on #94
+1 for a user mute feature. If people are offended by usage of certain types of language across the site, it might be a good use-case for a "no potty mouth" bookmarklet or some such. But definitely something in "userland" :)

[2015-01-04 20:12] ednapiranha opened #98 "Provide an export mechanism for your posts"
Assuming it will probably be CSV or JSON?

[2015-01-04 20:22] coleGillespie commented on #98
should it only be your posts or can it be any users' posts?

[2015-01-04 20:24] ednapiranha commented on #98
I would say only your posts for now. Downloadable from your profile page.

[2015-01-05 00:27] isaacs commented on #91
I'd be cool with renaming "client side" to "front end" or "browser" or whatever you think is most accessible, @thefoxis.

[2015-01-05 05:57] #98 closed

[2015-01-05 10:41] joates commented on #94
while i'm not against it per-se muting is a *reactive* response, while profanity filtering on-the-fly sends a very clear message of intolerance (as in child-safe).

[2015-01-05 11:29] thefoxis commented on #91
My only concern would be that client side is, in my understanding, a basket for front-end JS as well and I think it's more empowering to have `front-end` as a label and additionaly `js` if a task requires any. A lot of designers capable of writing front-end don't really do JS at all, hence the distinction.

Would that be confusing for others though?

[2015-01-05 13:21] jasonrhodes commented on #91
I say change it to front-end and add language labels if you think that's helpful, @thefoxis. I think I'd be confused if there was a client-side label *and* a front-end label.

[2015-01-05 15:04] coleGillespie opened #103 "misleading readme || local.json-dist"
The current README.md does not instruct a developer how to create their own user when a 404 is forced from services.home. Services.home requires the length of the ops array to be less than zero before the server is started in order to make it to the index to create a new user:

[code]
 By default in the local.json-dist, the ops param comes with one parameter:

[code]

If the developer changes the

[2015-01-05 15:18] thefoxis commented on #91
okay, I renamed and created the `js` label too, if someone with enough knowledge can add it wherever necessary that would be awesome (although from what I recall the majority of client-side labelled issues didn't need that at the moment)

[2015-01-05 15:40] jasonrhodes commented on #91
I'm happy to help with labeling—can anyone add labels to issues? I'm on mobile right now and I don't remember how that works exactly…

[2015-01-05 16:16] isaacs opened #104 "Use CSV encoding module for CSV export"
The CSV encoding added in #99 doesn't handle boolean fields, quotes, etc.

I recommend either adding a full-featured CSV parser, or just stick with JSON.

[2015-01-05 16:17] coleGillespie opened #105 "Add a reply button for posts"
Instead of having the user copy and paste the reply url it would be nice to just click some reply text and would send you strait to the post page then automatically apply the reply post url in the post form

[2015-01-05 16:29] #4 closed

[2015-01-05 17:18] coleGillespie commented on #103
@DoodleBot I agree. Any of the above options would work for me. I think that it would be best to be as transparent as possible that way anyone who wants to get started locally has a little trouble as possible. I am not sure the best option. What if we did something like this in the local.json-dist

[code]

[2015-01-05 17:36] jasonrhodes commented on #103
I don't think JSON likes `//` comments very much, and I wouldn't want to see the actual application code change to account for it, but I think we can make it clearer anyway. I would probably opt for making local.json-dist have all empty values and then documenting those values as part of the README.

[2015-01-05 17:39] coleGillespie commented on #103
@jasonrhodes so change local.json-dist to

[code]

and update the README to be more clear about what needs to be updated. It may also make sense to add in the README that the new install needs a user to be created as the last step.

[2015-01-05 17:50] #56 closed

[2015-01-05 17:58] isaacs commented on #105
Yes, please.

[2015-01-05 18:11] ednapiranha commented on #105
whichever is easiest. so probably the two parts one works.

[2015-01-05 18:17] coleGillespie commented on #105
@isaacs @ednapiranha Seems simple enough. Ill add something locally and test it.

[2015-01-05 18:23] fwenzel opened #106 "RSS Feed"
Call me old-skool, but a text-based system of posts should probably have an RSS feed. So one can follow it in a feed reader. Or digest it and do something fun with it.

[2015-01-05 18:43] amatecha commented on #94
but then: using non-alphanumeric characters to evade the filter

[2015-01-05 19:09] coleGillespie commented on #105
@isaacs @ednapiranha do we only want to see this on the post page? or do we also want to see this inside of the discussion feed?

[2015-01-05 19:27] TheAlphaNerd opened #107 "Dev server doesn't do anything"
if you just run ```npm run dev``` there is no server running on port 3000 (this is if you do not have a local.json included).

I will dig more into what is happening when I have some free time

[2015-01-05 19:50] Charlotteis opened #109 "Is there a way to change the timezone for posts?"
Hey bbs folk,
Just wondering if there is away to change the timezone each person is working in?
I just posted something and it displayed 11.20am but it was 19:20 here in the UK :)

Thanks!

[2015-01-05 19:57] isaacs commented on #105
@thefoxis @brittanystoroz @selenamarie Any front-end folks wanna review this?

I accidentally assigned myself to it, and I guess github doesn't allow you to un-assign yourself, so... @thefoxis I choose YOUUUUUUU!!!!!!!11111

[2015-01-05 21:04] jasonrhodes commented on #107
Hmm, maybe a better option for this is just using
[code]
and this way to get the server running fast for local dev, you don't need to mess with local.json at all?

This works great for me. If we go this route, lets catch the error in the `server.start()` callback and fail gracefully if the server doesn't start, otherwise print out data about what domain and port we're listening on using `server.in

[2015-01-05 21:07] coleGillespie commented on #105
@thefoxis did you just clone it for the first time? i get 404 when the for the first time see #103

[2015-01-05 21:40] thefoxis commented on #103
okay, so using an empty array for ops works for accessing the page itself but the pin that's printed out in the terminal always is invalid? at least that's the case for me. Currently it is pretty confusing since I've been trying for 30+ minutes and still haven't succeded ;)

[2015-01-05 21:42] remixz commented on #93
If people are interested in this, I'd be happy to take it on, or mentor someone else through it. This one would be a cool first contribution for someone, since it's not too hard. Every page is already connected to the socket, so it's mostly just a matter of making the `chat.js` file a little more portable so that it can be given an element to append messages to.

[2015-01-05 21:46] jasonrhodes commented on #103
@thefoxis and I just chatted quickly offline but the pin is the one that is in the test/fixtures.json file, so I'm not sure what is printing out in the console but we might as well kill that and add the pin right in the HTML. I'll file an issue for this, then I can probably throw together the PR for this later...

[2015-01-05 21:48] thefoxis commented on #105
@coleGillespie&mdash;woah, thanks! I looked at it and it looks good to me :ok_hand:

[2015-01-05 22:09] casschin opened #111 "Able to publish posts without content"
If you go to 'my posts' and save a new post without any content, it publishes a blank post.

See example: http://bigboringsystem.com/post/post!1420495453-c1

[2015-01-05 22:21] k88hudson commented on #109
+1 to `moment`, although `moment.timezone` should not be necessary to convert to the reader's local time as long as times are stored as UTC and formatted on the client.

i.e. `moment.format(post.time)` should be enough.

[2015-01-05 22:30] k88hudson commented on #111
Can I take this one?

[2015-01-05 22:32] jasonrhodes commented on #111
Do eeeet!

[2015-01-05 22:42] k88hudson opened #114 "Error page should render actual error response text"
Currently it does not:

![image](https://cloud.githubusercontent.com/assets/1455535/5621275/f77a869e-9501-11e4-9d7a-e064fb58a9e5.png)

It would be nice to at least have something in the console for debugging

[2015-01-05 22:42] pvenkatakrishnan commented on #114
same for me. debugging this now. i have correctly updated uid, and all twilio details on my `local.json` per readme...

[2015-01-05 22:45] k88hudson commented on #114
Ah! I think I know why -- I'm hitting this on `/post`, except my patch returns an error response from that path instead of redirecting to an error page. heh

[2015-01-05 23:34] pvenkatakrishnan commented on #114
just updating. i figured my problem as well  (which was unrelated to @k88hudson issue) , in case you want to close this out.
Looks like mine was a problem in updating the `uid` correctly and hence errored in `profile.getByUID(op, function (err, user) { ..}`

[2015-01-05 23:58] isaacs commented on #94
The bbs community is, for the time being, naughty-word-friendly (but not hate-friendly, even if the hate is free of naughty words).  I think that profanity filtering is a tricky thing to do right, and probably bigboringsystem.com will never be 100% "child safe" for all varieties of what one might think is safe for a child.  (There's some *seriously heavy shit* getting posted occasionally there.  I

[2015-01-06 00:01] urlysses commented on #93
I wouldn't mind taking it on either. I'm just not sure what ednapiranha, isaacs, and the others think of it given the minimalist/reductionist goals of the site.

[2015-01-06 00:03] isaacs opened #115 "Make footer a config thingie?"
Maybe the "powered by" bit at the bottom should be a config?  Seems like it might not be a thing that everyone would want there, and easier to just configure in local.json than force forks to float a patch.

[2015-01-06 00:05] isaacs commented on #107
Closed by #110

[2015-01-06 00:05] #107 closed

[2015-01-06 00:56] #111 closed

[2015-01-06 01:22] TheAlphaNerd opened #117 "Adhere to linting + add linting to CI"
Should linting be adding to CI to assure specific rules such as quotations, white space, etc etc etc are followed?

[2015-01-06 01:30] jasonrhodes commented on #117
I thought we had a linter called @ednapiranha ?

[2015-01-06 01:31] TheAlphaNerd commented on #117
lololol  Exactly what prompted this

I’m just in the process of cleaning up all the linting across the repo and making the linter be run as part of CI… PR coming soon=

[2015-01-06 01:44] pvenkatakrishnan opened #119 "Highlight the logged in user in `/users` with a different color ?"

[2015-01-06 02:51] coleGillespie commented on #105
@thefoxis thanks for the review

[2015-01-06 03:00] coleGillespie commented on #103
@jasonrhodes @ednapiranha this issue needs to be closed because it was fixed by #112

[2015-01-06 03:00] #103 closed

[2015-01-06 03:06] coleGillespie opened #122 "in reply to any url"
I am not sure this is even an issue, i kind of like the feature of sharing a link that is not actually part of bbs but as you can see I was able to post http://bigboringsystem.com/post/post!1420513218-e1 in reply to a non bbs post.

Issue or working as designed?

[2015-01-06 03:59] coleGillespie opened #123 "Reply notifications"
Would be nice if users could have a way of being notified if someone has replied to one of their posts. This way the conversation could continue. Maybe a conversations page?

[2015-01-06 04:18] fwenzel opened #125 "Textarea for posting should be resizeable"
it's ``resize: none`` in CSS.

Why?

[2015-01-06 05:44] llkats commented on #39
So a first pass for username highlighting is here: c0ec4c0df2850febcc0c9f9533776a25cd0d4fd7 and it looks like this:

![https://dl.dropboxusercontent.com/u/37968874/img/bbs-username-highlight-pink.png](https://dl.dropboxusercontent.com/u/37968874/img/bbs-username-highlight-pink.png)

If anyone has any thoughts, I'm all ears. Will try to work on a favicon notifying thinger tomorrow.

[2015-01-06 06:03] #114 closed

[2015-01-06 06:23] jasonrhodes commented on #122
I've found this to be a really nice little feature of the open reply box. I say keep it as-is.

[2015-01-06 06:29] jasonrhodes commented on #115
Makes total sense to me.

[2015-01-06 06:38] #117 closed

[2015-01-06 07:59] joates commented on #94
@amatecha good point, well made !
(you are correct, it's almost _impossible_ to implement, because there will always be newer and better evasion tactics)

@isaacs +1
(thanks for the detailed response, i agree, that would be the best way to handle the situation)

[2015-01-06 08:00] joates commented on #94
closing this.

as @jasonrhodes suggested, can be resolved in "userland"

[2015-01-06 08:00] #94 closed

[2015-01-06 08:22] thefoxis commented on #39
@llkats&mdash;I think it's good, although if we ever do color coding for nicknames (one color per nick) then this might be problematic to notice. We could do a very subtle background on the entire line with an animation to fade after x seconds (so it's not a rainbow) or just keep this for now :)

[2015-01-06 10:21] thefoxis opened #129 "Divide Stylus into smaller modules"
Rewrite CSS for small modules, add couple variables, document contributing in front-end matters.

As mentioned in #1.

[2015-01-06 12:41] joates commented on #53
just FYI.. i am working on client-side validation in PR #130

it encourages the use of '+1' but _does not_ enforce it..

server-side modules were suggested [here](https://github.com/bigboringsystem/bigboringsystem/issues/72#issuecomment-68853074)

[2015-01-06 12:43] coleGillespie commented on #122
cool, closing

[2015-01-06 12:43] #122 closed

[2015-01-06 12:52] jasonrhodes commented on #125
Fixed by #127

[2015-01-06 12:52] #125 closed

[2015-01-06 13:05] jasonrhodes commented on #119
@pvenkatakrishnan are you referring tot he user list in chat?

[2015-01-06 14:15] coleGillespie commented on #123
maybe the posts page could show replies?

[2015-01-06 14:18] coleGillespie opened #131 "client side testing"
currently it looks like the tests are only server side. since we are also doing some things with client side we need to add those to the test suite

[2015-01-06 14:24] coleGillespie opened #132 "bundle css restricting view area"
Maybe it is just me but viewing on a desktop leaves the .content class at max-width: 408px; this feels restricted. Would be nice if the view area was more responsive to the current viewing environment.

[2015-01-06 14:29] coleGillespie commented on #131
could be something bundled into #46

[2015-01-06 16:05] pvenkatakrishnan commented on #119
listing--> community listing --> `bigboringsystem/users`
Then in the list `me` can alone look different and easily identifiable

[2015-01-06 16:08] axelav commented on #106
@fwenzel would this just be a public feed, ie http://bigboringsystem.com/discover?

also, do you want to work on this? if not I'd like to give it a go.

[2015-01-06 16:17] pvenkatakrishnan commented on #119
actually even in chat list identifying `me` will help- like with a `*` or different color highlight.

[2015-01-06 16:20] coleGillespie opened #133 "auto load on scroll"
a nice feature would be to have the older posts load without having to navigate around pages

[2015-01-06 16:50] coleGillespie commented on #105
@jasonrhodes just merged this. Thanks for the help everyone.

[2015-01-06 23:54] ednapiranha commented on #105
This is actually breaking a lot of things. Next time there needs to be more substantial testing.
It breaks the following behavior:

1. Links do not link properly on replies
2. Multiple links are not adhered to
3. Comma/space-delimited links do not work

[2015-01-07 00:00] imakewebthings commented on #132
We don't want a completely fluid width for posts. Long line length is bad for readability, so some max is a good thing. Current max-width puts our line length at 51 characters. If we take 45-75 characters per line as generally acceptable for easily scanned line-length, it's on the low side but acceptable. CSS masters @llkats and @fox, do you have any opinions on this?

[2015-01-07 00:10] fwenzel commented on #125
Thanks!

[2015-01-07 00:10] kelseyq commented on #53
thanks @joates--that'll help prevent new double accounts from being created. hoping to come up with an on-login merge to deal with old accounts w/o needing to take the db down. will have more updates later this week.

[2015-01-07 00:11] coleGillespie commented on #132
just an idea, feel free to reject

[2015-01-07 00:11] fwenzel commented on #106
Go right ahead, I could work on this but probably won't have enough time soon enough.

Also, I was thinking about a public feed for discover, but a per-person feed probably makes a lot of sense too. Likely, the code overhead for both instead of just one is minute!

[2015-01-07 00:17] coleGillespie commented on #105
@ednapiranha it looks like there was a fix put in for number one.

I am not sure i follow number two and three can you explain more?

[2015-01-07 00:22] ednapiranha commented on #105
Turns out it wasn't twitter-text.

The problem was that your check was for port 80 and assumed that something that didnt follow with a port would always be port 80. We just switched to https which does not have a following port but is 443 not 80. So your logic would be invalid.

There was a subsequent check for a port which caused an error in reply display because it would do something like http:/

[2015-01-07 00:28] jasonrhodes commented on #105
Hmm yeah I tested this locally a good bit last night but I definitely didn't put it through paces for ports. Good catch/fix.

[2015-01-07 00:28] #105 closed

[2015-01-07 00:51] isaacs commented on #92
This is landed on master, so closing.  Thanks!

[2015-01-07 00:51] #92 closed

[2015-01-07 00:57] isaacs commented on #123
Duplicate of #61 and #35.  Partly addressed by #138.  A page that just shows all replies to all of your posts would be interesting.

[2015-01-07 00:57] #123 closed

[2015-01-07 00:58] isaacs commented on #35
#138

[2015-01-07 01:04] #104 closed

[2015-01-07 01:32] jasonrhodes opened #139 "Deleted post URLs should 404"
Clicking on a deleted post URL right now looks like it's returning a 500

http://cl.ly/image/1K3g1u2t3C05

It should be 404 page not found

[2015-01-07 01:37] isaacs commented on #133
Ugh, please no.  Infinite scroll is terrible.

Let's keep as much as possible server-side.

[2015-01-07 01:37] isaacs commented on #139
+1

[2015-01-07 01:41] #133 closed

[2015-01-07 01:41] isaacs commented on #133
[code]

There you have it, folks.

[2015-01-07 01:48] ednapiranha opened #140 "Default checkbox should be checked for replies to post"
Located in /profile and in a new post

[2015-01-07 01:50] ednapiranha commented on #140
for @thefoxis to review when ready

[2015-01-07 01:53] isaacs commented on #140
I think the best way to do this is to set `user.showreplies=true` if `user.showreplies===undefined` in the lookup in posts, and set it to true on new user creation.

Posts default to the user setting, so basically, just make the user setting true by default.

[2015-01-07 01:58] coleGillespie commented on #140
ill take it if you want to assign @ednapiranha

[2015-01-07 02:00] isaacs commented on #140
@coleGillespie GH doesn't let you assign non-committers, but I'll be happy to review it if you make a PR.

[2015-01-07 02:31] jasonrhodes commented on #132
I'm pretty sure this will all get solved with the CSS work planned in #1, so if you're interested in this, follow along with that ticket and jump in to help wherever you can!

[2015-01-07 02:31] #132 closed

[2015-01-07 03:03] #131 closed

[2015-01-07 03:47] isaacs commented on #119
This should be pretty easy to do.

1. Pass the request.session.uid to the view function that shows the user list.  (Maybe it is already?)
2. Put a * or whatever in the Jade template if `user.value.uid === uid`.

How often do you try to find your own name in that list, though?  Maybe I'm just missing the use case?

[2015-01-07 06:57] thefoxis commented on #132
Yeah, we will make it a little bit less constrained but having good reading experience in mind. No worries. Before that we want to modularise CSS (#129).

[2015-01-07 16:47] coleGillespie commented on #140
should be ready to review

[2015-01-07 16:51] ednapiranha commented on #53
@kelseyq I have an idea for migration which might be less headachey. Accounts can have secondary numbers added which reroute to the primary. We can just run something to add +1 and 1 accounts to primaries (or the first account of the three that exists that has a filled in profile name) // @isaacs

[2015-01-07 16:53] isaacs commented on #140
Part 1 (new user defaults to checked) done in #140.

@ednapiranha If you want to migrate all the preexisting users to check the box if it's set to undefined, that's probably better done with a migration script rather than special casing like i'd suggested above.  Or we could just leave it, and let them opt-in.

[2015-01-07 16:53] #140 closed

[2015-01-07 16:57] isaacs commented on #53
As long as the existing number doesn't start with +1 or 1, then sure.

I feel like maybe we should just always cast to the international variant, if it doesn't have a +, and store that.

Adding secondary numbers as a migration technique sounds reasonable.

[2015-01-07 17:02] coleGillespie commented on #139
@jasonrhodes to me it looks like it is actually returning a 200. in the route logic it is set to return a 404 with the error wrapped in a Boom class.

[code]

[2015-01-07 17:09] ednapiranha commented on #53
yeah we could do either but i assume a lot of americans/canadians put stuff on their main account without using the +1 or 1

[2015-01-07 17:12] jasonrhodes commented on #139
The error page will always return 200 because it successfully loaded, but 404 should always be caught and display 'page not found'. The custom error message shown there means it probably returned a 500 error, but I need to look into it further to be sure.

[2015-01-07 17:21] coleGillespie commented on #139
@jasonrhodes the error being returning when i log it is as follows:

[code]

This means we probably just need to pass in a string or whatever message we want to display

[2015-01-07 17:33] jasonrhodes commented on #139
No, we just want to have it return a 404 in the system so our 404 error handler catches it.

[2015-01-07 17:45] jlin opened #142 "clicking the reply to a post link when reading as unauthenticated reader leads to a key error"
Ideally, it would redirect you to the login page to fill in your phone number.

[2015-01-07 17:49] coleGillespie commented on #139
@jasonrhodes line 298 in index.js route logic is giving the message that we pass it instead of the ctx.reason that we create in switch above. message already exists in most cases and ctx.reason is the fallback. it needs to be the opposite.

[code]

needs to be

[code]

[2015-01-07 17:54] jasonrhodes commented on #139
Yeah this is from a change made in a PR the other day. We do want to make sure that it logs that message if in dev mode still, but yeah the printed message in the error view should be more generic.

[2015-01-07 18:01] coleGillespie commented on #139
So, the 404 handler is not working correctly then?

[2015-01-07 18:05] coleGillespie commented on #142
or maybe a throw a 403 @jlin

[2015-01-07 18:15] coleGillespie commented on #142
this logic is bring thrown from the posts.js controller starting at line 342. uid is undefined when a user is not logged in.
[code]

[2015-01-07 18:30] coleGillespie commented on #142
another way to fix this is to only show the link for reply IF there is a valid uid in the session

[2015-01-07 19:07] ednapiranha opened #143 "Banned accounts should not be able to post in chat or posts"

[2015-01-07 19:08] ednapiranha commented on #140
let's leave it as opt-in for older users.

[2015-01-07 19:32] jasonrhodes commented on #139
Yeah it's already in there doing that, just need to make sure it's working. It checks: `if (process.env.npm_lifecycle_event === 'dev')`

I think I can knock this out pretty easily in a little while because I reviewed the ticket that introduced this behavior. Thanks for helping me narrow it down!

[2015-01-07 19:53] TheAlphaNerd opened #144 "Starting server with admin that doesn't exist makes things explode"
This is all find and dandy, but can be a little weird when pushing to production.  it means that you need to start the app, do an initial sign up, stop the app, modify the local.json, then restart the app.

In theory it should be possible to add an admin that has not yet been registered, although I can see that being a security problem.  Perhaps the initial sign up should be admin? Should there be

[2015-01-07 20:48] pvenkatakrishnan commented on #119
Some use cases I see:

* In the chat list, what did i comment last and what has happened since ? (if i leave the window idle and come back later)
* If there are other folks with similar names, I can identify myself apart easily.
* Also just as a visual cue. (now that you ask me, i did visit that `/users` quite often and scan. Maybe curiosity on how many are using the system :)

I can take it up if

[2015-01-07 20:55] TheAlphaNerd commented on #144
I went through the blame... and it turns out I am the dummy who broke this during a lint mission.

Woops.

Fix coming soon

[2015-01-07 21:20] coleGillespie opened #145 "app crash on initial clone"
anyone else seeing this with a fresh install from master?
![screen shot 2015-01-07 at 4 17 04 pm](https://cloud.githubusercontent.com/assets/745064/5653534/0880e7a2-9689-11e4-8475-a68cec7c7fdb.png)

[2015-01-07 21:24] coleGillespie commented on #145
gulp version 3.8.10

[2015-01-07 22:05] TheAlphaNerd commented on #145
I’m seeing it too… They just updated gulp-nodemon as well which is causing weirdness

On Jan 7, 2015, at 1:24 PM, Cole Gillespie <notifications@github.com> wrote:

[2015-01-07 22:53] jasonrhodes opened #146 "Nodemon and gulp-nodemon dependency issue breaks npm start"
The problem in #145 is a nodemon and gulp-nodemon dependency problem, see: JacksonGariety/gulp-nodemon/issues/49

Looks like gulp-nodemon might have fixed the problem so if you `npm update gulp-nodemon` it may be solved? If not we should just lock to an earlier version of gulp-nodemon for now.

[2015-01-07 22:54] jasonrhodes commented on #145
@coleGillespie what version of gulp-nodemon do you have? `npm list gulp-nodemon` should tell you...

[2015-01-07 22:54] TheAlphaNerd commented on #146
I vote that this is a reason to land #74 early. Thoughts?

[2015-01-07 22:56] coleGillespie commented on #145
![screen shot 2015-01-07 at 5 55 40 pm](https://cloud.githubusercontent.com/assets/745064/5654956/78190a6a-9696-11e4-9bd1-1785a641280a.png)

[2015-01-07 22:58] jasonrhodes commented on #145
Ok that's the latest so they haven't updated it to remove the bad nodemon upgrade yet.

[2015-01-07 23:00] TheAlphaNerd commented on #145
I don’t think there is a bad nodemon update… since the last published version was 6 months ago

Seems to me like the gulp-nodemon folks just published a borked version=

[2015-01-07 23:01] coleGillespie commented on #145
something changed recently in one of the gulp deps, not sure what yet

[2015-01-07 23:02] jasonrhodes commented on #145
@TheAlphaNerd see https://github.com/JacksonGariety/gulp-nodemon/issues/49

Looks like nodemon 1.3.0-x auto updated early in the latest gulp-nodemon release for some reason.

[2015-01-07 23:06] jasonrhodes commented on #146
Will that fix? Looks like the problem is at least partially with nodemon, which seems to drop whatever is in 'npm start' as the executable to run your script (instead of node)...

[2015-01-07 23:08] TheAlphaNerd commented on #146
you can try the branch... works perfectly for me

[2015-01-07 23:09] TheAlphaNerd commented on #146
As mentioned in the previous thread... nodemon has not been published in 6 months... I have been using nodemon this way without issue for quite a bit

[2015-01-07 23:13] coleGillespie commented on #145
#145

[2015-01-07 23:13] #145 closed

[2015-01-07 23:14] coleGillespie commented on #146
he did push some updates in the past 6 hours

[2015-01-07 23:20] rtorr opened #147 "Escape garbage strings from chat"
cc @ednapiranha
https://github.com/bigboringsystem/bigboringsystem/blob/master/public/js/chat.js#L41 is one example with name and message that could be escaped.

[2015-01-07 23:21] jasonrhodes commented on #146
Except that Remy is obviously working on some pre release version that leaked out for the gulp-nodemon package, it seems? I'm not 100% sure but I think locking down to 1.0.4 of gulp-nodemon is the easiest, safest fix for now.

[2015-01-07 23:24] TheAlphaNerd commented on #146
Yeah looks to me like gulp-nodemon actually started tracking a version that isn't stable

[2015-01-07 23:24] TheAlphaNerd commented on #146
If I just do ```npm install nodemon``` you get version 1.2.1

[2015-01-08 00:06] #147 closed

[2015-01-08 00:07] rtorr commented on #147
https://github.com/bigboringsystem/bigboringsystem/pull/148 closes this.

[2015-01-08 00:14] rtorr opened #149 "Downtime Error Pages"
@thefoxis @ednapiranha

We should create error pages for when the site needs to come down for maintenance.

There might be a better nginx person out there. Here is an example:

[code]

[2015-01-08 01:03] jasonrhodes commented on #142
+1 to hiding the reply link for u authenticated users

[2015-01-08 01:07] coleGillespie commented on #142
@jasonrhodes also maybe we should remove all that FE js and make the reply button all server side /cc @ednapiranha

[2015-01-08 01:17] ednapiranha commented on #143
once they try to post and a banned record is found, force them to log out.

[2015-01-08 01:21] isaacs commented on #119
Hm, interesting.  Sure, that all sounds worthwhile to me.  Patch welcome!

Please try to do as much as possible on the server side.  Adding some CSS hooks is probably fine (change color, whatever) but the actual logic should all be on the server.

[2015-01-08 04:21] pvenkatakrishnan commented on #119
:+1:

[2015-01-08 04:49] fwenzel opened #152 "Focus input field on "check your phone" page."
There's one and only one action on that page: entering the login code. Let's focus that field automatically.

[2015-01-08 05:12] fwenzel opened #153 "Should bold/italics be allowed?"
Fundamental question, perhaps. As a mostly-text system, should BBS allow ``*italic*`` and ``**bold**`` text?

I think it'd allow some level of expression in the posts, without going quite too crazy, similar to how twitter @-names are autolinked, and general URLs are linked as well.

[2015-01-08 06:05] fwenzel opened #154 "Name field is overescaped"
STR:

Edit your profile and change your name to: ``~HELLO~``

Note the tildes turn into ``&#x7e;``

[2015-01-08 08:37] cvan commented on #53
+1 :+1:

[2015-01-08 10:34] colingourlay commented on #152
There's an attribute for that: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms_in_HTML#The_autofocus_attribute

[2015-01-08 11:09] TheAlphaNerd commented on #62
closing

[2015-01-08 11:09] #62 closed

[2015-01-08 11:09] TheAlphaNerd commented on #35
This can be lcosed now can't it?

[2015-01-08 17:19] ednapiranha opened #158 "Add counter for chat (character limit is 140)"

[2015-01-08 18:02] jasonrhodes commented on #143
Not sure how to test this in production but it seems to me when I ban a local user, they can log in anyway. Status is still banned for them (so my chat/post blocks are still in effect) but they are free to log out and back in. Obviously that's not what is wanted but is that even expected behavior right now?

I put a fix in this ticket, it wasn't too hard (the chat blocking was the hardest part). I

[2015-01-08 18:05] ednapiranha commented on #143
When you're banning right now, you're banning by phone # not ip. When you authenticate, it is looking for ip not phone number :) So there's a mixup there right now. I guess banning on both situations is fine and then it's tough to remove a ban on ip.. b/c we would have to associate the ip with the profile. But that could change so it gets weird.

[2015-01-08 18:08] jasonrhodes commented on #143
Aha, makes sense. I vote for banning on phone for now and if people are circumventing with throw-away phone numbers then maybe you need a super-ban and then auth checks for both, or something like that...

[2015-01-08 18:12] #35 closed

[2015-01-08 18:49] rtorr commented on #154
@fwenzel We are using this lib https://github.com/hapijs/hoek in reaction to some abuse yesterday. Looks like you can config it a bit to allow more characters.

Line in question https://github.com/bigboringsystem/bigboringsystem/blob/master/lib/profile.js#L29

[2015-01-08 19:05] #144 closed

[2015-01-08 19:40] ednapiranha opened #160 "Disconnect user from user chat list properly"
right now it removes when a disconnect is found, but if there are two tabs open and one is closed, the user is removed from the list globally.

[2015-01-08 19:45] ednapiranha commented on #143
Yeah banning on phone is a problem because you could send requests to someone else's number over and over to get that auto banned.

[2015-01-08 21:14] fwenzel commented on #154
It's fine if you escape that character, just don't overdo it (i.e., don't render the entity name, literally)

[2015-01-08 22:23] coleGillespie commented on #146
@jasonrhodes what do you mean by locking down to 1.0.4 when i fresh install it is still broken for me locally

[2015-01-08 22:38] coleGillespie commented on #146
@jasonrhodes this can be closed now

[2015-01-08 22:39] jasonrhodes commented on #146
Closed by #146

[2015-01-08 22:39] #146 closed

[2015-01-08 23:25] coleGillespie commented on #142
@jasonrhodes fixed, pull request needs approval though

[2015-01-09 00:26] coleGillespie commented on #142
this can be closed @ednapiranha #163

[2015-01-09 00:43] #142 closed

[2015-01-09 02:49] jasonrhodes commented on #152
Fixed by #157

[2015-01-09 02:49] #152 closed

[2015-01-09 12:05] coleGillespie commented on #106
see closed pull request above for example. needs tests to validate, worked for me locally. cannot get to creating tests until later

[2015-01-09 14:11] thefoxis opened #166 "Broken post URLs"
I just noticed some post urls seem to be broken. I wanted to link to my first post from **Dec 29th, 2014 - 08:11 am** and:

[code]

is its link.

[2015-01-09 14:44] jasonrhodes commented on #166
It seems like the split is sometime around the morning of Dec 30, with anything older than that split getting a `post!undefined` slug in the generated URL in /discover and in /posts

I'm not 100% sure but it seems like it might be related to the post ID work mentioned in #59 and #57, @isaacs and @ednapiranha will obviously know better. I'm gonna try reverting locally to before those merges, saving

[2015-01-09 14:49] jasonrhodes opened #167 "Is there any reason not to hash phone numbers when we store them?"
Would be a nice privacy sell and doesn't seem like it would affect any of the ways we use the number if we just hash it after Twilio use but before db save, but I am far from an expert on crypto security stuff so I could be missing any number of things.

[2015-01-09 15:08] jasonrhodes commented on #166
OK confirmed that #59 is the split. To reproduce locally you would:

* `git checkout -b old-test-before a8524c5543c70531659aa84274a433818a30a54b~1` (goes back to commit right before the #59 merge)
* Update lib/utils.js to mock out the client, commit in this test branch
[code]
* Log in, create a post or two
* `git checkout -b old-test-after a8524c5543c70531659aa84274a433818a30a54b && git merge old-

[2015-01-09 15:08] jalcine commented on #166
Three cheers for @jasonrhodes :beers:

[2015-01-09 15:12] jasonrhodes commented on #166
Oh, important to note: #59 didn't cause this bug to appear right then. In the `old-test-after` branch above, the post urls are all working fine. It's something that happened between #59 and now that causes the bug, but it's related to the changes in 59 because that's where the split between broken posts and non-broken posts is...

[2015-01-09 15:17] jasonrhodes commented on #166
Ok ok more info: found where the bug is introduced, it's #86, which was merged on sha c6baaf5fc134b8db97996fbcbbb5db1f0fea2569

If you checkout that sha, the posts created in my earlier steps have the bug, if you checkout that sha ~1, the url bug is gone.

[2015-01-09 15:35] ednapiranha commented on #167
We can do one-way hashing of numbers but you would need to run a migration on user accounts and reset their session to update. There might be some other checks to make.

[2015-01-09 15:38] imakewebthings commented on #167
You would also need to salt. A lookup table of every possible phone number is way too easy to generate.

[2015-01-09 16:43] ednapiranha commented on #167
well it's open for a fixin! :) any takers? :)

[2015-01-09 16:48] jasonrhodes commented on #166
Seems like @isaacs is on the case somewhat, too: https://bigboringsystem.com/post/post!1420819909-3f

[2015-01-09 18:32] #97 closed

[2015-01-09 18:48] imakewebthings commented on #153
My vote is nay. Besides the slippery slope of formatting and the fun of explaining Markdown to users, I enjoy the way plaintext forces users to create their own forms of emphasis (or as it is, revert to Usenet standards.)

[2015-01-09 18:48] TheAlphaNerd commented on #167
I'm definitely interested in helping out with this one.  I am curious how to properly salt the hashes if the entire code base is public.

[2015-01-09 18:49] TheAlphaNerd commented on #167
I am also not entirely sure the best way to approach migrating the current DB, although I guess a one off script can probably do it.

[2015-01-09 18:55] ednapiranha commented on #167
yeah one off script is fine. lotsa tests to write to verify ;)

[2015-01-09 18:57] coleGillespie commented on #106
done

[2015-01-09 19:12] jasonrhodes commented on #167
Keep the salt value in local.json

[2015-01-09 19:12] TheAlphaNerd commented on #167
Smart cookie!

[2015-01-09 19:16] imakewebthings commented on #154
This isn't even just a matter of display, it's a bug. If you go to your profile and change your name to ~~ and save you will see the escaped text. If you save again, you get each of *those* characters escaped. It's escaping all the way down. Creating a pull to fix this in a few minutes.

[2015-01-09 19:48] imakewebthings commented on #154
Fix landed in #169.

[2015-01-09 19:48] #154 closed

[2015-01-09 19:52] jasonrhodes commented on #153
I also vote "nay" for the same reasons. Monospace ASCII don't need no
formattin.

On Fri, Jan 9, 2015 at 1:48 PM, Caleb Troughton <notifications@github.com>
wrote:

[2015-01-09 20:02] coleGillespie commented on #139
@jasonrhodes still need help on this one?

[2015-01-09 21:16] fwenzel commented on #153
Fair enough; should auto-linking also go away?

[2015-01-09 22:46] rtorr commented on #149
Looks like this has been updated.

[2015-01-09 22:46] #149 closed

[2015-01-09 23:15] isaacs commented on #166
The best fix, I think, is a migration script that does `if (!post.postid) { post.postid = post.created; save() }` on each of the objects in the `posts` database.

The other option is to have the discover and posts pages show `post.postid || post.created` in the URLs, but that's kinda gross, since it adds complexity for a fixable problem.

[2015-01-09 23:16] ednapiranha commented on #166
we're doing some migrations right now so doing that script is easy. i'll set it up

[2015-01-10 00:04] ednapiranha commented on #53
https://github.com/bigboringsystem/bigboringsystem/commit/49552c6e1c722e86be6803a9e3106ebe99a68869

[2015-01-10 00:04] #53 closed

[2015-01-10 00:07] ednapiranha commented on #166
https://github.com/bigboringsystem/bigboringsystem/commit/fd105b26075ceea3bb4f99050af225aaef1199cf

[2015-01-10 00:07] #166 closed

[2015-01-10 00:35] #160 closed

[2015-01-10 01:10] coleGillespie opened #176 "error in latest master with npm start"
currently not able to test locally
[code]

[2015-01-10 02:53] ednapiranha commented on #176
try again?

[2015-01-10 02:53] ednapiranha commented on #167
https://github.com/bigboringsystem/bigboringsystem/commit/f4d9d8194399465ba5c3bf9279a257528970b13e

[2015-01-10 02:53] #167 closed

[2015-01-10 03:13] ednapiranha commented on #106
https://github.com/bigboringsystem/bigboringsystem/commit/66edcc7f19eaf2395f1785ce29964a9845ffa4b7

[2015-01-10 03:13] #106 closed

[2015-01-10 03:16] TheAlphaNerd commented on #176
try this

```killall node && rm -rf node_modules && npm i```

This will kill any rogue process, and give you a fresh install of node modules.  Should fix the problem

[2015-01-10 04:00] ednapiranha commented on #109
https://github.com/bigboringsystem/bigboringsystem/commit/7cd356ac3b30e5471572d541d48681693a4a5c9e

[2015-01-10 04:00] #109 closed

[2015-01-10 05:42] jonursenbach opened #178 "No longer store usernames with posts?"
Since usernames are mutable, I'm wondering if it would make sense to no longer store them with posts. As it is, whenever you change your username, your name on old posts isn't reflected, and IMO it's really confusing as to why that's the case.

Just posting the question before I go about doing the work.

[2015-01-10 06:21] ednapiranha commented on #178
it's more fun this way :)

[2015-01-10 06:21] #178 closed

[2015-01-10 07:33] TheAlphaNerd opened #180 "Time displaying in un processed UTC"
Is that expected?

[2015-01-10 07:35] isaacs commented on #153
We auto-link using the Twitter library.  This makes it easy for people to refer to each other, and for hyperlinks to be clickable.  (The #hashtag handling is a bit weird, though, admittedly.)

This is a only-slightly-hyper text medium.  No formatting.

[2015-01-10 07:35] #153 closed

[2015-01-10 07:54] isaacs commented on #176
@coleGillespie Is this a Linux box?  If so, try this: http://stackoverflow.com/questions/16748737/grunt-watch-error-waiting-fatal-error-watch-enospc

The system has a max number of file descriptors that it'll open to watch things.  This bumps the limit up.

[2015-01-10 07:54] #176 closed

[2015-01-10 08:19] isaacs commented on #139
So, really, the bug here is "Error pages should return the specified error codes".

We're passing a 404 in there, but it looks like it doesn't actually set the response code.

[2015-01-10 08:50] isaacs commented on #115
Ugh, this is kind of painful to work in, though.  Otherwise it has to be passed to every single `reply.view` call, looks like.  It'd be nice if Hapi had something like templar's default context settings that could be set in one place.

Punting for now.  Changing views/layout.jade isn't any harder than changing local.json.

[2015-01-10 08:50] #115 closed

[2015-01-10 08:53] isaacs commented on #180
No, I don't think so.

But I love it, personally.

Looks like the time stuff isn't in global.js any more. @ednapiranha did you change it on the server or something?  It's definitely there in dev.

Oh gosh.  I love it so much.  So clean and lovely.  Let's get rid of time zones forever.

[2015-01-10 11:16] jasonrhodes commented on #180
I was seeing this too but it was a browser cache of global.js because we're not doing client side JS versioning of any kind. Going to http://bigboringsystem.com/js/global.js?a=b verified the same file that's in master, which *should* convert to local to...

Is that the case for you all too?

*If people want to revert that change and go full UTC, makes no difference to me :)

[2015-01-10 13:50] coleGillespie commented on #176
was fedora 21 @isaacs

[2015-01-10 14:10] coleGillespie opened #182 "update dependencies to latest stable releases"
![screen shot 2015-01-10 at 9 10 17 am](https://cloud.githubusercontent.com/assets/745064/5691842/88bd74be-98a8-11e4-8018-3c6b82d6adf7.png)

[2015-01-10 15:59] jasonrhodes opened #184 "Cache invalidation strategy for CSS, JS, etc."
Possibly related to #180 I think?

Right now it looks like changes to public/js/* and public/css/* might not take effect when we want them because we don't do any versioning on those files. I've seen `file.js?version=<timehash>` or `file.<timehash>.js` strategies, or you could probably update nginx to put super short expires headers on those file types, although that's not awesome. I assume we'd h

[2015-01-10 16:01] jasonrhodes commented on #184
Oh hey this is pretty fucking awesome, I wonder if there's a hapi version...

https://www.npmjs.com/package/express-asset-versions

[2015-01-10 16:07] jasonrhodes commented on #115
Looks like you can tap into the reply stream and add stuff, like this:

https://github.com/poeticninja/hapi-cache-buster/blob/master/index.js#L22-L28

[2015-01-10 19:24] imakewebthings opened #187 "Remove Twitter hashtag links"
As @isaacs mentioned in #153, hash links are kind of awkward. I'd wager most people who end up typing a `#hashtag` don't even intend to link to the Twitter search result the way twitter-text links them up. I'd rather disable hashtag linking to Twitter entirely.

We now have a [fork of twitter-text](https://github.com/bigboringsystem/twitter-text). We should make the changes we want there and start

[2015-01-10 20:19] isaacs commented on #180
I think the issue was that the nginx workers weren't restarted after the update, so some had the old js in THEIR caches.

@ednapiranha restarted the server, and it works for me now.

[2015-01-10 20:19] #180 closed

[2015-01-10 20:21] isaacs commented on #184
We could just do `?#{time}` and set that to the server start-up time on the static assets.  That'd be enough, and probably doable without writing a whole new Hapi plugin.

[2015-01-10 20:29] jasonrhodes commented on #187
+1 to the fork and +1 to disabling hashtag linking

On Sat, Jan 10, 2015 at 2:24 PM, Caleb Troughton <notifications@github.com>
wrote:

[2015-01-10 20:39] isaacs commented on #115
Yeah, but then we have to put some markdown in a config... and just... ugh.  Too much work, not enough benefit.

That hapi-cache-buster is pretty relevant to #184 though!

[2015-01-10 20:39] isaacs commented on #184
This module seems apropos: http://npm.im/hapi-cache-buster/

[2015-01-10 20:40] jasonrhodes commented on #184
+1 that sounds good enough to me

[2015-01-10 20:47] #139 closed

[2015-01-10 20:54] isaacs commented on #184
I'm not sure that package version is the best indicator, though.  Server start time is a better indicator, since we don't bump the package version for each release.

[2015-01-10 21:26] isaacs commented on #176
@coleGillespie Awesome, then yes, the SO post I linked to is your answer.

[2015-01-10 21:35] jasonrhodes commented on #184
Yeah, definitely. But whoever does this should be able to borrow the syntax for hijacking the reply and appending a value so that it's available to all views.

[2015-01-10 23:45] llkats commented on #39
Cool, this was merged. Considering the amount of javascript that needs to be introduced to do favicon updating, I'm going to reopen #38 for further discussion.

[2015-01-10 23:45] #39 closed

[2015-01-11 02:11] remixz opened #188 "Security vulnerability disclosure"
While finding vulnerabilities may be rare in a program like this, due to its simplicity, it still can happen, and there should be an appropriate way to report them. Even if it's just an email of one of the maintainers that someone can send a bug to, that'd be great.

I bring this up since I found a bug in chat that allows for arbitrary HTML to be sent to anyone connected, and I've made a patch as

[2015-01-11 02:32] jasonrhodes commented on #188
Good idea, @remixz -- for now you can hit me up at rhodesjason on freenode if you want to discuss.

[2015-01-11 07:02] jasonrhodes opened #190 "Double escaping in chat usernames"
Right now we use hoek to escape usernames when we save them, and then we escape the names again on the socket 'user' event to prevent malicious events emitted from a browser that could contain HTML and JS etc. This fixes a security issue for us, but it means that for usernames that are pulled from the database, they are getting double-escaped in the chat user list.

Should we unescape the username

[2015-01-11 07:23] remixz commented on #190
With https://github.com/bigboringsystem/bigboringsystem/pull/189, we actually shouldn't have to escape the names in chat anymore, since it's from the session now, and they're escaped when saved to the database as you said. I'll fix that in the PR now.

[2015-01-11 10:05] joates commented on #187
+1 to disable hashtag linking to Twitter entirely

i thought this was super-weird when i first found this "feature", since then i have consciously avoided using the '#' symbol !!

[2015-01-11 14:02] jasonrhodes commented on #190
@imakewebthings whenever you have a chance, if you can take a look at #189 and see what you think?

[2015-01-11 18:42] ednapiranha commented on #190
oops merged in @remixz 's fix already - seems to be working?

[2015-01-11 18:42] #188 closed

[2015-01-11 18:44] jasonrhodes commented on #190
\o/ hooray, then! :+1:

Nice work, @remixz -- thanks.

[2015-01-11 18:47] #190 closed

[2015-01-11 18:51] ednapiranha commented on #187
There's some janky other languages in that twitter-text repo.. not sure if we care or we want to just dump the non-js stuff and minimize the code. Thoughts? Also, I forget how the Apache 2 license works so dunno how that affects it

[2015-01-11 18:56] jasonrhodes commented on #187
@ednapiranha just filed an issue to do that, makes sense to me: bigboringsystem/twitter-text#2

[2015-01-11 19:28] isaacs opened #191 "export is only page 1"
Is there any way to export more than just the first page of posts?

Maybe we need like a ?page=... query or something?

[2015-01-11 21:01] ednapiranha opened #192 "Limit posts to n characters?"
Posts are now more or less unlimited - should probably put a max on it and strip the rest. Not sure what the ideal count would be - thoughts? @isaacs @jasonrhodes @imakewebthings

[2015-01-11 21:37] jasonrhodes commented on #192
Uhhh no idea but here is a stab:

Medium says most engaging posts are about 7 minutes long on average, or 1000-1600 words.

https://blog.bufferapp.com/the-ideal-length-of-everything-online-according-to-science

5.1 characters per English word, says Wolfram Alpha. That puts "good" posts at around 5000-10,000 characters, roughly?

So put the limit on the very high end if it's a data concern, maybe 1

[2015-01-12 00:26] llkats opened #193 "add a Code of Conduct?"
Perhaps we should have a code of conduct document for BBS, not just for contributing and participating in code contributions, but for the actual content of BBS itself? It's on my mind as I update the Nodeschool SF site, since the CoC extends to not only the website but the actual events themselves.

[2015-01-12 00:43] llkats commented on #192
My first reaction was to vehemently oppose any sort of limit, but I think that it's overwhelming to read BBS posts that are super long. Someone mentioned at some point that BBS seems to occupy a space somewhere between Twitter (microposts) and Medium (long-form essays). So maybe we could try a 5000 character limit and see if people chafe against it. Anyhow, constraint fosters creativity, right?

[2015-01-12 01:00] ednapiranha commented on #192
5000 sounds good to me. we can just do a silent clip and make a note about it .. or apply a counter i guess..

[2015-01-12 02:13] imakewebthings opened #194 "CSS Source Map 404s"
The end of `bundle.min.css` specifies a source map URL of `main.css.map`. This file does not exist.

[2015-01-12 15:48] jasonrhodes commented on #193
I'm generally for this, although I admit I don't know the best way to draft these things.

[2015-01-12 17:05] ednapiranha opened #195 "Time formatting on posts not correct in Firefox"
If you go here https://bigboringsystem.com/discover in Firefox, it's not formatted the same as it is in Chrome and Safari. I checked on desktop, mobile (android) and it seems consistent.

[2015-01-12 19:02] ChiperSoft opened #196 "API Access"
*Followup from in-chat discussion, posted here for more in-depth discussion of implementation.*

Currently there's little to no proper api integration available on BBS. All of the routes are coded for access purely from a browser session, and the only way to send data to BBS is to create a session through the sms login and then use the session cookie.

To facilitate external services, there needs

[2015-01-12 19:21] TheAlphaNerd commented on #196
I think that this is a decent idea... although we should definitely consider the scope that this could create.

Specifically if the back end of BBS exposes a sane API it raises the question if the back end should be responsible for serving the front end.  The client application is fairly thin.  If something like a proper API and Auth were to land it would probably make sense to completely decouple

[2015-01-12 19:32] imakewebthings commented on #196
If somebody could chime in about what concrete uses and applications one would use the API for if it were available, I'd love to hear more.

[2015-01-12 19:48] ChiperSoft commented on #196
I initially started this conversation because I was brainstorming adding an IRC proxy for the chat system, so that I could have the BBS chat running in my IRC client instead of having to keep a browser window open.

As the chat is currently working, I could create an account to connect to the site with and receive chat events to broadcast on the irc server, but that's the limit of what it could do

[2015-01-12 20:53] imakewebthings commented on #184
That plugin allows you to pass anything as the cache buster string, package version is the default if nothing is specified. I'll open a PR using the plugin + @isaacs's server start time suggestion.

[2015-01-12 21:14] fwenzel commented on #187
if you want to make BBS searchable, you could auto-link ``#myhashtag`` to all other BBS posts that use that same tag.

[2015-01-12 21:17] fwenzel opened #198 "Add link tag for RSS feed"
Something like this:

``<link href="http://example.com/feed.xml" type="application/atom+xml" rel="alternate" title="Discover Feed">``

Probably both on dashboard and discover page.

[2015-01-12 21:18] fwenzel commented on #198
(I can submit a patch but haven't yet set up a running version of bbs on my box)

[2015-01-12 22:10] ChiperSoft commented on #184
Couldn't server start time cause a problem if/when the site starts needing multiple server processes? Different processes reporting different files?

[2015-01-12 22:26] imakewebthings commented on #184
@ChiperSoft This is true. I'm still going to open this PR because it's better than nothing. The if you describe is very large and very if right now, and the worst case scenario is somebody downloads the same file twice instead of a cache hit.

If we want to do it "right" we do a hash of the file contents for each asset file (maybe during server startup) and use that checksum as the cache buster. T

[2015-01-12 22:30] fwenzel opened #200 "RSS feed is missing (correct) link and link[rel=self] tags"
Looks like the feed needs to have a teeny tiny more metadata attached to it:

https://en.wikipedia.org/wiki/Atom_%28standard%29#Example_of_an_Atom_1.0_feed

Right now, it contains:
``<link>http://github.com/dylang/node-rss</link>``
which is obviously not what we want.

[2015-01-12 22:33] coleGillespie commented on #200
@fwenzel eslint breaks when you add this meta data currently. there is a fix going into the rss module hopefully soon to fix this. [see this bug](https://github.com/dylang/node-rss/issues/40)

[2015-01-12 23:17] fwenzel commented on #200
Oh hey thanks for pointing it out.

[2015-01-12 23:27] #195 closed

[2015-01-13 03:21] ednapiranha opened #205 "Set up local.json to enable/disable signups on restart"
@jasonrhodes @selenamarie @imakewebthings so we can change it to be the current state or the other state (signup - which should be the default)

[2015-01-13 17:16] ednapiranha commented on #193
@selenamarie ?

[2015-01-13 18:14] selenamarie commented on #193
@llkats django has a pretty reasonable one:

https://www.djangoproject.com/conduct/
https://www.djangoproject.com/conduct/enforcement-manual/.
https://www.djangoproject.com/conduct/reporting/

Its a lot but it helps cover all the dumb stuff that can happen

[2015-01-13 18:32] ednapiranha opened #206 "Don't allow non-logged in users to listen in on the chat socket?"

[2015-01-13 19:39] selenamarie opened #208 "Document deploying a new BBS in a different system"
We may just make a wiki page for this, or include it in our README (or something).

[2015-01-13 19:40] bupkes commented on #208
I'll try and write up how I get along, as I go along.

[2015-01-13 19:41] #205 closed

[2015-01-14 05:05] ednapiranha opened #210 "Bug with highlighting nick and @twitter name rendering"

[2015-01-14 05:11] ednapiranha commented on #210
@llkats something for you to look at maybe? :dancer:

[2015-01-14 05:23] jasonrhodes commented on #196
I think this would definitely be a "fork and show" kind of project. If you're interested in building out a fork that implements some of these features, we'd be happy to take a look and see how/if they fit with everything.

[2015-01-14 05:23] #196 closed

[2015-01-14 06:37] llkats commented on #210
🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺🍺

[2015-01-14 06:46] ednapiranha commented on #210
https://github.com/bigboringsystem/bigboringsystem/commit/8622798ec02ce86da277e45ffc02eb0c82902b03 fixed!

[2015-01-14 06:46] #210 closed

[2015-01-14 19:25] rtorr commented on #200
Could something like `/*eslint-disable*/` and `/*eslint-enable*/` in the future be used?

[2015-01-14 21:38] TheAlphaNerd commented on #194
Fixed this upstream in stylus... pr coming soon

[2015-01-14 22:25] #194 closed

[2015-01-14 22:36] coleGillespie commented on #200
@rtorr yes we could fix this in es lint if we do not want to force camelCase. the exact fix in eslintrc would be

[code]

else fixing this will not pass lint

[2015-01-14 22:42] jasonrhodes commented on #200
I think @rtorr is talking about temporarily turning off the lint rule for a given block of code, which you can do with jshint, etc. Is `/*eslint-disable*/` the syntax for that? I'm not sure.

[2015-01-14 22:52] imakewebthings commented on #200
You can target a specific rule for enabling and disabling via comments. May I recommend only disabling the rules necessary until the upstream issue is resolved.

[code]

[2015-01-14 22:53] rtorr commented on #200
@jasonrhodes yeah, that is what I mean't. It would be nice to use what we need over linting, for a block of code.

[2015-01-14 23:59] imakewebthings commented on #191
@isaacs Maybe I don't follow, but I can't reproduce this locally. When I export `.json` I see all 32 of my (local) posts. Do I need more to hit this?

[2015-01-15 06:15] petems opened #214 "https://bigboringsystem.com/privacy error"
https://bigboringsystem.com/privacy gives 500 for me

When I run the app locally that page doesnt get served, is it run by something else?

[2015-01-15 07:17] imakewebthings commented on #214
Thanks @petems. Pull #215 will fix this.

[2015-01-15 20:16] #214 closed

[2015-01-15 20:16] #198 closed

[2015-01-15 22:17] ednapiranha commented on #55
Currently setting up a PR for muting on chat only. The problem with muting on the post level (for now) is that we can miss offensive/inappropriate things that should be reported/deleted. Easy to add later if we need to but for now chat seems to be the biggest risk factor.

[2015-01-15 22:40] ednapiranha commented on #55
If posts need to be muted, we should just assign this as a separate issue with a different behavior. Closing this one for now since the chat fix has been implemented.

[2015-01-15 22:40] #55 closed

[2015-01-16 00:41] isaacs commented on #191
Ah, weird... seems like it is working as intended.

[2015-01-16 00:41] #191 closed

[2015-01-16 04:26] CLowbrow opened #218 "Expose some hooks in the chat to make it easier to write bookmarklets"
I'd like to add a couple things to the chat script to make it a little easier to extend through a bookmarklet/the console.

- A globally accessible function to get your own username (Can't find a great way of doing this right now after everything loads. Would just return the name variable stored in the closure.)
[code]
- A way to bind to the message event that can cancel standard behavior. For exa

[2015-01-16 17:12] gggritso commented on #115
So, since BBS is a private package people are going to be deploying their BBS instances using Docker, or just forking the repo and doing it manually, right?

Also, the footer should probably support arbitrary HTML, since adding Markdown support for _just_ the footer is kind of ham-fisted and having only plaintext isn't good enough. My question then is whether we should just break the footer into i

[2015-01-16 18:25] isaacs commented on #115
Editing `footer.jade` isn't any easier than editing `layout.jade` for this.

The "feature", if we decide to add it, would be to allow full-on custom templatization by providing a view root path like you suggest.  It'd have to also make the frontend CSS/JS stuff customizable, so it'd be a bit more refactoring.

I think probably people would dig that for their own installs, but it probably won't eve

[2015-01-17 19:42] jasonrhodes opened #221 "Chat mention notifications"
This started in #38 so you can read that conversation if you want to catch up. Here's where we landed:

Nobody felt incredibly strong about the feature, and there's potential for lots of code in the favicon case and lots of noise in a general sidebar tab case where every new chat produces an increment in that notification counter. @llkats said:

Looks like that work was started back in the origina

[2015-01-17 23:06] CLowbrow commented on #221
How would you feel about using the notification API (https://developer.mozilla.org/en-US/docs/Web/API/notification) for when your name is mentioned? It wouldn't mess with any markup, it's opt-in, and you can get a notification with the body of the message so you wouldn't have to tab back.

(I can send a PR if people are down)

[2015-01-18 02:34] dmacdnld commented on #129
If you haven't started working on this yet @thefoxis, I'd be happy to.

[2015-01-18 08:09] thefoxis commented on #129
@dmacdnld Please go for it and ping me when PR-ing to review. Thank you!

[2015-01-18 19:12] llkats commented on #221
I like @jasonrhodes's suggestion of simplifying the UI down to a binary state and not incrementing a counter. Looks like Notification API is limited to FF and Chrome, which is fine by me. (http://caniuse.com/#feat=notifications -- kinda surprised it's not even in IE 11, but oh well.) A rather lightweight (imo) JS implementation was done by @remixz in #38, so that could be folded in as well?

[2015-01-19 19:29] jory opened #224 "Infinite spinner in Chrome"
For me, the site is always loading....

Why? Why?

[2015-01-19 22:49] remixz opened #226 "Modularize client JS"
I was working on #221/#38, and the one issue I ran into is that for the counter/indicator to only be when you're mentioned, there's a *lot* of code duplication from `chat.js`. I'm wondering if this would warrant moving to something like Browserify.

There'd be some extra code needed in the move to Browserify (or whatever else, I'm personally a Browserify fan though), like a basic router so it only

[2015-01-20 00:49] troutowicz commented on #226
Mind pushing your changes to a branch? I'm curious how you are approaching this.

[2015-01-20 00:58] troutowicz commented on #224
Can you open up Chrome's debugger and see what web requests are being made? I don't experience this with the latest version of Chrome.

[2015-01-20 17:30] rtorr commented on #226
You can steal (or not) what I did here for the setup. Super easy.

https://github.com/rtorr/bigboringsystem/blob/e3729fb4fa2d321b2187a8de3f47dc05b227b679/package.json

[2015-01-21 00:58] #224 closed

[2015-01-21 03:38] CLowbrow opened #228 "Characters/line is inconsistent across mobile/desktop"
I made a bookmarklet for ASCII art that some people have used, but the output gets all messed up on mobile due to the line lengths for the text not being the same.

@isaacs suggested a css solution, but I'm not sure if that's the best way to go to guarantee line-length (read: I don't know how to do that with CSS).

What I can do is run something like http://jsfiddle.net/rvp6a81v/2/ on the page aft

[2015-01-25 21:38] dylancwood commented on #192
I'd like to take this on.

I have added a character limit on both the server and client side in my forked repo, but am having trouble getting the tests to run. It seems that some tests are running in parallel, though they should be running in series. As a result, the `post` global var is not being set before it is referenced in other tests.

I'll keep digging, and raise a separate issue if needed.

[2015-01-26 14:42] dylancwood commented on #192
Resolved my test issues (which were not caused by parallel execution), and submitted a PR #229 . I've never used BBS before, so please let me know if the character limit is what you had imagined.

[2015-03-31 02:51] kylewm opened #230 "add support for Microformats2"
I came across bbs today and was delighted to see that it has reply posts sort of like [I have on my personal site](https://kylewm.com/replies).

I was wondering if there would be interest in a PR adding [microformats2](http://microformats.org/wiki/microformats2) classes to the existing markup on bbs posts. This would facilitate some light interop with [indiewebcamp](https://indiewebcamp.com) sites

[2016-09-26 18:29] lucasgonze opened #232 "npm install failures"
[code]

The Jade thing is simple enough, and is only a WARN, but I thought it was worth letting you know.

Thoughts on the rev-list ERR?

[2016-09-26 18:32] lucasgonze commented on #232
Debug log

[npm-debug.log.txt](https://github.com/bigboringsystem/bigboringsystem/files/493846/npm-debug.log.txt)

[2016-09-26 19:42] ednapiranha commented on #232
Sorry about that! This project more or less stopped getting updates and I ended up rewriting over here https://github.com/revolting/bbs (this one should have the correct pug updates among other stuff)

[2016-09-26 19:42] #232 closed